option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "PPLJ.settings"
    PYTHONPATH: "/opt/python/current/app/covid19:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: covid19-pplj/PPLJ/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
