container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/covid19-pplj/manage.py migrate --noinput"
 02_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python /opt/python/current/app/covid19-pplj/manage.py collectstatic --noinput"
 03_wsgipass:
  command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "PPLJ.settings"
    PYTHONPATH: "/opt/python/current/app/covid19:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: covid19-pplj/PPLJ/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
